body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    background: #f2f2f2;
    text-align: center;
}

nav {
    background: #222;
    padding: 15px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    padding: 60px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}
